@charset "utf-8";

// Define defaults for each variable.

/*
@font-face {
    font-family: 'Manaspace';
    src: url("../../assets/fonts/manaspc.ttf");
}
*/

// GOOGLE FONTS

/*
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Codystar');
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans');
@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');
@import url('https://fonts.googleapis.com/css?family=VT323')
*/

/*
$body-font-family: 'Black Ops One', cursive;
$body-font-family: 'Bungee', cursive;
$body-font-family: 'Bungee Inline', cursive;
$body-font-family: 'Bungee Shade', cursive;
$body-font-family: 'Codystar', cursive;
$body-font-family: 'Expletus Sans', cursive;
$body-font-family: 'Iceland', cursive;
$body-font-family: "Josefin Sans";
$body-font-family: "Manaspace";
$body-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Plaster', cursive;
$body-font-family: 'Press Start 2P', cursive;
$body-font-family: 'Raleway Dots', cursive;
$body-font-family: 'VT323', monospace;
*/ 

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Iceland');
